/* ----- HERO ----- */

.hero-title-expand {
    -webkit-animation: tracking-in-expand 1.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: tracking-in-expand 1.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}



/* ----- ABOUT ----- */

.about-block:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    background-color: #FFDB00;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
    transition: 1s;
}