@media screen and (max-width:400px) {
    .hero-container {
        margin-top: 390px;
    }
    .hero-textBlock1 {
        font-size: 8em;
    }
    .hero-textBlock2 {
        font-size: 1em;
        line-height: 3em;
    }
    .hero-textBlock3,
    .hero-textBlock4,
    .hero-textBlock5 {
        font-size: 2em;
    }
    .event-vid {
        height: 207px !important;
    }
}