@media screen and (max-width:400px) {
    .center {
        margin-top: 390px;
    }
    .textBlock1 {
       font-size: 8em;
    }
    .textBlock2 {
       font-size: 1em;
       line-height: 3em;
    }
    .textBlock3, .textBlock4, .textBlock5 {
        font-size: 2em;
    }
}